.input-wrapper {
    margin: var(--unit-8) 0;
    width: 100%;
    max-width: 100%;
    padding: var(--unit-8) 0;
    overflow: none;
}

.input {
    border: none;
    width: 100%;
    outline: none;
    padding: 0 var(--unit-8);
    color: var(--color-light);
}

.input--transparent {
    background: transparent;
    border-bottom: 1px solid hsla(var(--color-light), 50%);
}

.input--transparent:active {
    border-bottom: 1px solid hsl(var(--color-primary));
}
.input--transparent:focus {
    border-bottom: 2px solid hsl(var(--color-primary));
}

.input--medium {
    height: calc(var(--unit-8) * 3);
}
