.button {
    border-radius: 0;
    border: none;
}

.button:hover {
    cursor: pointer;
}

.button--medium {
    padding: calc(var(--unit-8) * 2) calc(var(--unit-8) * 4);
    font-size: calc(var(--unit-8) * 2);
}

.button--primary {
    background: hsl(var(--color-primary));
    color: hsl(var(--color-tertiary));
}
.button--primary:active {
    background: hsl(var(--color-primary));
    color: hsl(var(--color-tertiary));
}
.button--primary:focus {
    background: hsl(var(--color-primary));
    color: hsl(var(--color-tertiary));
}

.button--secondary {
    background: hsl(var(--color-secondary));
    color: hsl(var(--color-tertiary));
}
.button--secondary:active {
    background: hsl(var(--color-secondary));
    color: hsl(var(--color-tertiary));
}
.button--secondary:focus {
    background: hsl(var(--color-secondary));
    color: hsl(var(--color-tertiary));
}

.button--danger {
    background: hsl(var(--color-danger));
    color: hsl(var(--color-tertiary));
}
.button--danger:active {
    background: hsl(var(--color-danger));
    color: hsl(var(--color-tertiary));
}
.button--danger:focus {
    background: hsl(var(--color-danger));
    color: hsl(var(--color-tertiary));
}

.button--success {
    background: hsl(var(--color-success));
    color: hsl(var(--color-tertiary));
}
.button--success:active {
    background: hsl(var(--color-success));
    color: hsl(var(--color-tertiary));
}
.button--success:focus {
    background: hsl(var(--color-success));
    color: hsl(var(--color-tertiary));
}

.button--neutral {
    background: hsl(var(--color-neutral));
    color: hsl(var(--color-tertiary));
}
.button--neutral:active {
    background: hsl(var(--color-neutral));
    color: hsl(var(--color-tertiary));
}
.button--neutral:focus {
    background: hsl(var(--color-neutral));
    color: hsl(var(--color-tertiary));
}

.button--link {
    background-color: transparent;
    height: 100%;
    color: hsl(var(--color-tertiary));
}
.button--link:active {
    background-color: transparent;
    height: 100%;
    color: hsl(var(--color-tertiary));
}
.button--link:focus {
    background-color: transparent;
    height: 100%;
    color: hsl(var(--color-tertiary));
}

.button--facebook {
    background: hsl(var(--color-facebook));
    color: hsl(var(--color-tertiary));
}
.button--facebook:active {
    background: hsl(var(--color-facebook));
    color: hsl(var(--color-tertiary));
}
.button--facebook:focus {
    background: hsl(var(--color-facebook));
    color: hsl(var(--color-tertiary));
}

.button--circle {
    height: calc(var(--unit-8));
    width: calc(var(--unit-8));
    padding: calc(var(--unit-8) * 2.5);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
