.ml-sm {
    margin-left: var(--unit-8);
}

.mr-sm {
    margin-left: var(--unit-8);
}
.ml-md {
    margin-left: calc(var(--unit-8) * 2);
}

.mt-sm {
    margin-top: var(--unit-8);
}
.mt-md {
    margin-top: calc(var(--unit-8) * 2);
}

.mb-sm {
    margin-bottom: var(--unit-8);
}

.mb-md {
    margin-bottom: calc(var(--unit-8) * 2);
}

.m-zero {
    margin: 0;
}
