.navbar {
    color: hsl(var(--color-light-text));
    margin-bottom: calc(var(--unit-12) * 4);
    position: relative;
}

.navbar__menu__list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
}

.navbar__menu {
    position: absolute;
    height: 100%;
    left: 50%;
    transform: translate3d(-50%, 0, 0);
}

.navbar__title {
    font-size: calc(var(--unit-8) * 3);

    @media (min-width: 600px) {
        font-size: calc(var(--unit-8) * 4);
    }
}

.navbar__link {
    text-decoration: none;
}
.navbar__link--action {
    border: 1px solid hsl(var(--color-primary));
    border-radius: 5px;
    padding: var(--unit-8);
    font-size: 14px;
}
.navbar__link--action:hover {
    background: hsl(var(--color-primary));
    color: hsl(var(--color-light-text));
}

.navbar__title {
    font-weight: bold;
    letter-spacing: 1px;
}
