.todo__form {
    margin: calc(var(--unit-8) * 2) 0;
}

.todo__filters {
    display: flex;
    justify-content: space-evenly;
    margin: calc(var(--unit-8) * 2) 0;
}

.todo__filters__items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 var(--unit-8);
}

.order-todos {
    select {
        background: hsla(var(--color-secondary), 40%);
        height: calc(var(--unit-8) * 4);
        border: 2px solid hsla(var(--color-neutral), 50%);
        border-radius: 5px;
        outline: none;
    }
}

.todo-item {
    padding: calc(var(--unit-8) * 2);
    margin: calc(var(--unit-8) * 2) auto;
    border: 2px solid hsla(var(--color-neutral), 70%);
    border-radius: 10px;
}

.todo-item__title {
    margin: 0;
    color: hsl(var(--color-primary));

    a {
        text-decoration: none;
        color: hsl(var(--color-primary));
    }
}

.todo-item__description {
    font-weight: bold;
    margin: 0;
    padding: var(--unit-8) 0;
}
.todo-item__description--completed {
    text-decoration: line-through;
}

.todo-item__created-at {
    font-size: 13px;
}

.todo-item__completed {
    font-size: 13px;
}
