.todo__form {
    margin: calc(var(--unit-8) * 2) 0;
    background: hsl(var(--color-background));
    border-radius: 10px;
    padding: var(--unit-8) 0;
}

.todo-item {
    border-bottom: 1px solid hsla(var(--color-light), 50%);
    overflow: hidden;
}

.todo-item__title {
    color: hsl(var(--color-light));
    letter-spacing: 1px;
}
.todo-item__title:hover {
    cursor: pointer;
}
.todo-item__title--completed {
    text-decoration: line-through;
    color: hsla(var(--color-light), 40%);
    font-weight: normal;
}

.todo-item__created-at {
    color: hsla(var(--color-light), 50%);
    font-size: 13px;
    margin-bottom: calc(var(--unit-8) * 3);
}

.todo-item__completed {
    font-size: 13px;
}

/* NEW */

.todo__search {
    background: hsl(var(--color-background));
    padding: var(--unit-8);
    border-radius: 10px;
}

.todo-list {
    background: hsl(var(--color-background));
    border-radius: 10px;
    margin: calc(var(--unit-8) * 2) 0;
    padding: calc(var(--unit-8) * 2) var(--unit-8);
}

.todo-item__details {
    padding: 0 calc(var(--unit-8) * 4);
    max-height: 0;
    transition: max-height 0.5s linear;
    overflow: hiddem;
}

.todo-item__details--active {
    display: block;
    max-height: 500px;
    transition: max-height 0.5 linear;
}

/* ORDERBY COMPONENT */

.todo__order-by {
    background: hsl(var(--color-background));
    border-radius: 10px;
    padding: calc(var(--unit-8) * 2) var(--unit-8);
}
.order-by__item {
    color: hsla(var(--color-light), 60%);
    font-size: 13px;
}
.order-by__item:hover {
    color: hsla(var(--color-light), 100%);
    cursor: pointer;
}
.order-by__item--active {
    color: hsla(var(--color-primary));
}
.order-by__item--active:hover {
    color: hsl(var(--color-primary));
}

.todo__counter {
    background: hsl(var(--color-background));
    margin: calc(var(--unit-8) * 2) 0;
    padding: 0 var(--unit-8);
    border-radius: 10px;
    font-size: 14px;
}
