.auth {
    padding: calc(var(--unit-8) * 3) var(--unit-8);
    background: hsl(var(--color-background));
    border-radius: 10px;
    margin: calc(var(--unit-8) * 2) 0;
}
.auth__title {
    margin: 0;
}
