.f {
    display: flex;
}

.f-justify-center {
    justify-content: center;
}

.f-justify-between {
    justify-content: space-between;
}

.f-justify-around {
    justify-content: space-around;
}

.f-align-items-center {
    align-items: center;
}
