:root {
    --unit-8: 8px;

    --color-primary: 327, 100%, 29%;
    --color-secondary: 174, 63%, 45%;
    --color-tertiary: 255, 100%, 100%;
    --color-danger: 360, 71%, 40%;
    --color-success: 115, 58%, 42%;
    --color-neutral: 0, 0%, 50%;
    --color-facebook: 220, 46%, 46%;
}
