:root {
    --unit-8: 8px;
    --unit-12: 12px;
    --color-primary: 220, 98%, 61%;
    --color-body: 235, 21%, 11%;
    --color-background: 235, 24%, 19%;
    --color-light: 0, 0%, 98%;
    --color-danger: 360, 71%, 40%;
    --color-light-text: 0, 0%, 98%;
    --color-dark: 235, 21%, 11%;

    --bg-desktop: url('assets/bg-desktop-dark.jpg');
    --bg-mobile: url('assets/bg-mobile-dark.jpg');
}
